<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div>
        <i>Dear [[${param0}]]</i>
        <div>Chúng tôi nhận một lời yêu cầu đặt sân <b>[[${param1}]]</b> từ tài khoản <b>[[${param2}]]</b></div>
        <div>Thông tin chi tiết được mô tả bên dưới.</div>
        <div>
            <div style="font-size: 20px;">Thông tin yêu cầu</div>
            <div>
                <div>Tên sân: <b>[[${param3}]]</b></div>
                <div>Loại sân: [[${param10}]]</div>
                <div>Thời gian: <b>[[${param4}]]</b></div>
                <div>Giá: <b>[[${param5}]]</b></div>
            </div>

            <div style="font-size: 20px;">Thông tin người yêu cầu</div>
            <div>
                <div>Tên đăng nhập: <b> [[${param6}]] </b></div>
                <div>Họ và tên: <b> [[${param7}]] </b></div>
                <div>Email: <b> [[${param8}]] </b></div>
                <div>Số điện thoại: <b> [[${param9}]] </b></div>
            </div>
        </div>
        <div> Trân trọng</div>
    </div>
</body>
</html>