<form class="d-flex flex-column gap-2" [formGroup]="formGroup">
    <div class="row">
        <div class="col-md-6 d-flex flex-column">
            <label>Tên sân</label>
            <input class="nice-input" formControlName="name" />
        </div>
    
        <div class="col-md-6 d-flex flex-column">
            <label>Địa chỉ (cụ thể)</label>
            <input class="nice-input" formControlName="address" />
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <label>Tỉnh/Thành phố</label>
            <ng-select 
                placeholder="Chọn tỉnh/thành phố"
                bindValue="id"
                bindLabel="name"
                formControlName="provinceId"

                [items]="provinceList"
            ></ng-select>
        </div>

        <div class="col-md-6">
            <label>Quận/huyện</label>
            <ng-select 
                placeholder="Chọn quận/huyện"
                bindValue="id"
                bindLabel="name"
                formControlName="districtId"

                [items]="districtList"
            ></ng-select>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <label>Ảnh đại diện</label>
            <app-file-inputer
                [previewImage]="true"
                (output)="avatarFile = $event[0]"
            ></app-file-inputer>
        </div>
    </div>
</form>