<div>
    <div class="container">
        <ul class="d-flex gap-4 ps-0">
            <li>
                <a class="gap-1">
                    <span [inlineSVG]="'assets/icons/svg/shop.svg'"></span>
                    <span>CỬA HÀNG</span>
                </a>
            </li>

            <li>
                <a class="gap-1">
                    <span [inlineSVG]="'assets/icons/svg/booking.svg'"></span>
                    <span>ĐẶT SÂN & TÌM ĐỐI</span>
                </a>
            </li>
        </ul>
    </div>
</div>