:host ::ng-deep {
    svg {
        width: 17px;
        height: 17px;
    }
}

li {
    display: flex;
    gap: 5px;

    > a {
        display: flex;
        align-items: center;
        font-weight: 600;
    }
}