<div>
    <div class="modal-header">
        <span class="h4">Xác nhận mua hàng</span>
    </div>
    <div>
        <form class="p-3 d-flex flex-column gap-2">
            <div class="d-flex flex-column">
                <label class="required">Tên người mua</label>
                <input class="nice-input" placeholder="Nhập tên người mua hàng" />
            </div>

            <div class="d-flex flex-column">
                <label class="required">Địa chỉ nhận hàng</label>
                <input class="nice-input" placeholder="Nhập địa chỉ nhận hàng" />
            </div>

            <div class="d-flex flex-column">
                <label class="required">Số điện thoại</label>
                <input class="nice-input" placeholder="Nhập số điện thoại" />
            </div>

            <div class="d-flex align-items-center gap-2">
                <input type="checkbox" id="checkbox" />
                <label for="checkbox">Dùng thông tin của user đăng nhập</label>
            </div>
        </form>
    </div>
    <div class="modal-footer justify-content-center">
        <button>Xác nhận</button>
        <button class="cancel">Hủy bỏ</button>
    </div>
</div>