<ag-grid-angular
    *ngIf="!treeData"
    class="ag-theme-alpine w-100 h-100"
    [columnDefs]="columns"
    [rowData]="rows"
    [headerHeight]="hideHeader ? 0 : 64"
    [rowHeight]="56"

    (gridReady)="gridReady($event)"
    (gridSizeChanged)="gridSizeChanged($event)"
></ag-grid-angular>

<ag-grid-angular
    *ngIf="treeData"
    class="ag-theme-alpine w-100 h-100"
    [columnDefs]="columns"
    [rowData]="rows"
    [headerHeight]="hideHeader ? 0 : 64"
    [rowHeight]="56"
    [suppressMovableColumns]="true"

    [autoGroupColumnDef]="autoGroupColumnDef"
    [treeData]="treeData"
    [animateRows]="true"
    [serverSideInfiniteScroll]="true"
    [rowModelType]="'serverSide'"
    [isServerSideGroupOpenByDefault]="isServerSideGroupOpenByDefault"
    [isServerSideGroup]="isServerSideGroup"
    [serverSideStoreType]="'partial'"
    [getServerSideGroupKey]="getServerSideGroupKey"

    (gridReady)="gridReady($event)"
    (gridSizeChanged)="gridSizeChanged($event)"
></ag-grid-angular>