<div>
    <div class="container d-flex flex-column">
        <div class="d-flex align-items-center">
            <span class="bread-value me-3">Trang chủ</span>
            <div class="d-flex align-items-center gap-3" *ngFor="let breadscrum of breadcumService.breadscrum$ | async">
                <i class="fas fa-chevron-right" style="color: #b6af96; font-size: 10px;"></i>
                <a *ngIf="breadscrum.link" [routerLink]="breadscrum.link" class="bread-value">{{ breadscrum.value }}</a>
                <span *ngIf="!breadscrum.link" class="bread-value">{{ breadscrum.value }}</span>
            </div>
        </div>
        <div class="separator mt-2"></div>
    </div>
</div>