button {
    min-width: 30px;
    max-width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white !important;
    color: var(--button-background);
    border: 1px solid var(--button-background);

    &:hover,
    &.active {
        background: var(--button-background) !important;
        color: white;
    }
}