button {
    min-width: 30px;
    max-width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white !important;
    color: var(--sub-color);
    border: 1px solid var(--sub-color);

    &:hover,
    &.active {
        background: var(--sub-color) !important;
        color: white;
    }
}