<div class="d-flex flex-column align-items-center gap-3">
    <ng-container
        [ngTemplateOutlet]="social"
    ></ng-container>
</div>

<ng-template #social>
    <div class="w-100 d-flex flex-column gap-2">
        <div class="social zalo"><span>ĐẶT QUA ZALO</span></div>
        <div class="social facebook"><span>ĐẶT QUA FACEBOOK</span> </div>
        <div class="social find"><span>TÌM SÂN TRỐNG</span></div>
        <div class="social phone"><span>Số điện thoại</span></div>
    </div>
</ng-template>