<form [formGroup]="formGroup" (submit)="submit()" class="row flex-column gap-3">    

    <div class="d-flex flex-column">
        <label class="">Tên đăng nhập</label>
        <input class="nice-input" placeholder="Nhập tên đăng nhập" formControlName="username" />
    </div>

    <div class="d-flex flex-column">
        <label class="">Mật khẩu</label>
        <input class="nice-input" type="password" placeholder="Nhập mật khẩu" formControlName="password" />
    </div>

    <div>
        <button class="w-100">Đăng nhập</button>
    </div>
    <div class="d-flex justify-content-end">
        <a [routerLink]="['/auth', 'sign-up']">Đăng ký</a>
    </div>
</form>