<div>
    <span class="fw-bold">Tìm sân trống</span>
    <form class="d-flex flex-column gap-3" (submit)="submit()">
        <div class="row">
            <div class="col-6">
                <input class="nice-input" type="date" />
            </div>
            <div class="col-6">
                <input class="nice-input" type="date" />
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <input class="nice-input" type="time" />
            </div>
            <div class="col-6">
                <input class="nice-input" type="time" />
            </div>
        </div>
        <div class="col-12">
            <button class="w-100">Tìm sân</button>
        </div>
    </form>
</div>