<footer class="mt-3">
    <div class="container">
        <div class="row">
            <div class="col-md-3 d-flex flex-column gap-2">
                <span [inlineSVG]="'assets/icons/svg/logo.svg'"></span>
                <span class="fw-bold">THÔNG TIN LIÊN HỆ</span>
                <span>Công ty Cổ Phần Thương Mại Và Xây Dựng Thế Giới Thể Thao</span>
                <span>Giấy chứng nhận đăng ký kinh doanh số: 0108207761</span>
                <span>Do sở kế hoạch và đầu tư Thành phố Hà Nội cấp ngày: 30/03/2018</span>
            </div>
    
            <div class="col-md-3 d-flex flex-column gap-2">
                <span class="fw-bold">LIÊN HỆ</span>
                <span class="d-flex align-items-center">
                    <i class="fas fa-map-marker-alt"></i>
                    <span>Số 5 Nguyễn Khả Trạc - Mai Dịch - Cầu Giấy - Hà Nội</span>
                </span>
                <span class="d-flex">
                    <i class="fas fa-phone-alt"></i>
                    <span>0946795885</span>
                </span>
                <span class="d-flex">
                    <i class="fab fa-facebook-f"></i>
                    <span>Facebook</span>
                </span>
                <span class="d-flex">
                    <i class="fab fa-youtube"></i>
                    <span>TheGioiTheThao TV</span>
                </span>
    
                <span class="d-flex">
                    <i class="fas fa-at"></i>
                    <span>phamtan@thegioithethao.vn</span>
                </span>
            </div>
    
            <div class="col-md-3 d-flex flex-column gap-2">
                <span class="fw-bold">CHÍNH SÁCH</span>
                <span>Chính sách bảo mật</span>
                <span>Điều khoản sử dụng</span>
                <span>Hướng dẫn đổi trả</span>
                <span>Cam kết chất lượng</span>
                <span>Giao hàng & Nhận hàng</span>
                <span>Đặt hàng & Thanh toán</span>
                <span>Tuyển dụng</span>
            </div>
    
            <div class="col-md-3 d-flex flex-column gap-2">
                <span class="fw-bold">HỢP TÁC</span>
                <span>Giới thiệu Thế Giới Thể Thao</span>
                <span>Hợp tác với nhà thầu</span>
                <span>Hợp tác các shop thể thao</span>
                <span>Hợp tác cầu thủ bóng đá</span>
                <span>Hợp tác các cụm thể thao</span>
                <span>Hợp tác với các giải đấu</span>
                <span>Hợp tác với các trường học</span>
            </div>
        </div>
    </div>
</footer>