/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

/* Importing ng-select style file. */
@import "~@ng-select/ng-select/themes/default.theme.css";


/* declare color for app */
:root {
    --primary-color: #498d3d;
    --sub-color: #226a35;
    --button-background: #ef4e22;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

ul {
    list-style: none;
}

.ng-select-container {
    height: 40px !important;
    border: 1px solid #e8e8e8 !important;
    
    .ng-placeholder {
        font-size: 14px;
    }
}

.nice-input {
    @extend .ng-select-container;
    outline: none;
    padding-left: 10px;
    font-size: 14px;
    border-radius: 4px;

    &::placeholder { color: #999; }
}

.cursor-pointer {
    cursor: pointer;
}

.font-weight-500 {
    font-weight: 500 !important;
}

a {
    color: black;
    text-decoration: none;
}

button {
    background: var(--button-background);
    border-radius: 5px;
    color: white;
    outline: none;
    border: none;
    min-width: 120px;
    height: 40px;

    &:disabled,
    &:hover {
        opacity: .7;
    }
    
    &:disabled {
        cursor: not-allowed;
    }
}

.separator {
    background: #ededed;
    height: 1px;
}